<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action='/result' method='POST'>
        Your Name: <input type="text" name="full_name"><br>
        Dojo Location:<select id="location" name="locations">
            <option value="Seattle">Seattle</option>
            <option value="Online">Online</option>
            <option value="Dallas">Dallas</option>
        </select><br>
        Favorite Language:<select id="language" name="languages">
            <option value="Python">Python</option>
            <option value="Ruby">Ruby</option>
            <option value="JavaScript">JavaScript</option>
        </select><br>
        Comment (Optional):<input type="text" name="comment"><br>
        <input type="submit">


    </form>
</body>
</html>